<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diseño Dental - Pagina Principal</title>
    <link rel="stylesheet" th:href="@{/css/style-principal.css}">
</head>
<body>
<header class="header">
    <img th:src="@{/img/imagen.png}" alt="Dental Logo" class="logo">
    <h1 class="header-title">DISEÑO DENTAL</h1>
</header>

<div class="container">
    <aside class="sidebar">
        <div class="profile">
            <img th:src="@{/img/avatar.png}" alt="Profile Picture" class="profile-pic">
            <div class="welcome">BIENVENIDA <span th:text="${nombre}"></span></div>
        </div>

        <h2 class="panel-title">PANEL DE CONTROL</h2>
        <a class="menu-button" href="#">ADMINISTRADORES</a>
        <a class="menu-button" th:href="@{/cita}">CITAS</a>
        <a class="menu-button" th:href="@{/consultorio}">CONSULTORIOS</a>
        <a class="menu-button" th:href="@{/doctor}">DOCTORES</a>
        <a class="menu-button" th:href="@{/horario}">HORARIOS</a>
        <a class="menu-button" th:href="@{/reporte}">REPORTE</a>
        <a class="menu-button" th:if="${nombre!=null}" th:href="@{/api/logout}">CERRAR SESION</a>
    </aside>

    <main class="main-content">
        <h2 class="main-title">PANEL PRINCIPAL</h2>

        <div class="dashboard-grid">
            <div class="dashboard-card">
                <div class="card-number">0</div>
                <div class="card-label">ADMINISTRADORES</div>
            </div>

            <div class="dashboard-card">
                <div class="card-number">0</div>
                <div class="card-label">CITAS</div>
            </div>

            <div class="dashboard-card">
                <div class="card-number">0</div>
                <div class="card-label">CONSULTORIOS</div>
            </div>

            <div class="dashboard-card">
                <div class="card-number">0</div>
                <div class="card-label">DOCTORES</div>
            </div>

            <div class="dashboard-card" style="grid-column: 1 / -1">
                <div class="card-number">0</div>
                <div class="card-label">HORARIOS</div>
            </div>
        </div>
    </main>
</div>
</body>
</html>