<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Dental - Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="image-section">
        <div class="logo-title">
            <img th:src="@{/img/imagen.png}" alt="Logo de un diente" class="logo">
            <h1>DISEÑO DENTAL</h1>
        </div>
        <img th:src="@{/img/diseno-de-sonrisa.jpg}" alt="Diseño de sonrisa" class="image">
    </div>
    <div class="login-section">
        <h2>¡Bienvenido de nuevo!</h2>
        <form th:action="@{/api/loginValidation}" method="post">
            <label for="correo">CORREO</label>
            <input class="emailXDE" type="text" id="correo" placeholder="Ingresa tu correo" name="correo" required>

            <label for="clave">CONTRASEÑA</label>
            <div class="password-container">
                <input type="password" id="clave" placeholder="Ingrese su contraseña" name="clave" required>
                <button type="button" class="show-password">&#128065;</button>
            </div>

            <button type="submit" class="login-button">Iniciar sesión</button>
            <div class="options">
                <a th:href="@{/email}" class="remember-password">Recuperar contraseña</a>
            </div>
        </form>
        <div th:if="${error}" class="mesange" style="background-color: #d01a1a; border-radius: 15px; margin-top: 2rem; width: 300px">
            <p th:text="${error}" style="color: white; text-align: center"></p>
        </div>
    </div>
</div>
<script>
    const togglePasswordVisibility = () => {
        const passwordInput = document.getElementById('clave');
        const eyeIcon = document.querySelector('.show-password');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        }
    };
    document.querySelector('.show-password').addEventListener('click', togglePasswordVisibility);
</script>
</body>
</html>
